@{
    ViewData["Title"] = "Schedule";
}
<h1>@ViewData["Title"]</h1>
<p>schedule in IT Elective 3 (Full Stack)</p>
<table>
    <tr>
        <th rowspan="2">Section</th>
        <th rowspan="2">Code</th>
        <th rowspan="2">Course Title</th>
        <th rowspan="2">Units</th>
        <th colspan="2">Asynchronous</th>
        <th colspan="2">Face to Face Time</th>
        <th rowspan="2">Teacher</th>
    </tr>
    <tr>
        <td class="black-bg">Day</td>
        <td class="black-bg">Time</td>
        <td class="black-bg">Day</td>
        <td class="black-bg">Time</td>
    </tr>
    <tr>
        <td>BSIT42E1</td>
        <td>106-ELEC323</td>
        <td>IT Elective 3</td>
        <td>3</td>
        <td>Thursday</td>
        <td>3:00pm-5:00pm</td>
        <td>Saturday</td>
        <td>10:00am-1:00pm</td>
        <td>Prof. Alamo</td>
    </tr>
</table>
